//Primary Colors of App (Yellow)
$yellow1:#D3B75C;
$yellow2:#A89558;
$yellow3:#988033;

//Primary Colors
$black:#000000;
$white:#FFFFFF;

//Grey Colors
$grey1:#333333;
$grey2:#464646;
$grey3:#555555;

