@import "../../theme/Fonts.scss";
@import "../../theme/Colors.scss";


.headerContainer{
    width: 100%;
    height: 130px;
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.secHeaderContainer{
    width: 100%;
    background-color: $black;
    position: fixed;
    display: flex;
    justify-content: center;
}
.middleContainer{
    display: flex;
    width: 83%;
    justify-content: space-between;
}
.logoName{
    color:$white;
    font-family: 'Poppins BoldItalic';
    font-size: 26px;
}
.logoDetail{
    color: $yellow2;
    font-family: 'Poppins BoldItalic';
    font-size: 26px;
}
.logo{
    display: flex;
    padding-left: 30px;
}
.navBar{
    display: flex;
   align-self: center;
   width: 50%;
     ul{
        width: 100%;
        display: flex;
    justify-content: space-between;
     }
      li{
        display: flex;
        
      } a{
        text-decoration: none;
        font-family: 'Poppins Regular';
        color:$white;
      }
}
.lastContainer{
    display: flex;
    align-self: center;
    width: auto;
}

.languageText{
    font-size: 14px;
    color: $white;
    font-family: 'Poppins Semibold';
    text-decoration: none;
    background-color: transparent;
    border: none;
}
.iconBox{
    width: 40px;
    height: 33px;
    border-right: 1px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
}
